PORT=3000
SUPABASE_URL=https://nexejauijbarxxxbdpuk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5leGVqYXVpamJhcnh4eGJkcHVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU2MTE0MDAsImV4cCI6MjA4MTE4NzQwMH0.B3tldRoRzp6RlmjwWQzuCes0SzkC4ILPY_tRSMv3uxg
SUPABASE_SERVICE_KEY=your_service_key_here
