EXPO_PUBLIC_SUPABASE_URL=https://yyprreucdiwdckalwzmc.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl5cHJyZXVjZGl3ZGNrYWx3em1jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU1MDM3MzEsImV4cCI6MjA4MTA3OTczMX0.T5slDCVOFnjs_JiuCBinneq8P97Ky6jIPBHDJ_KeCdk
