EXPO_PUBLIC_SUPABASE_URL=https://nexejauijbarxxxbdpuk.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5leGVqYXVpamJhcnh4eGJkcHVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU2MTE0MDAsImV4cCI6MjA4MTE4NzQwMH0.B3tldRoRzp6RlmjwWQzuCes0SzkC4ILPY_tRSMv3uxg
